.comment-container {
  color: black;
  margin: 8px 0;
}

.comment-image {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-top: 8px;
  transition: border 0.2s ease-in-out;
  cursor: pointer;
}

.comment-image:hover {
  border: 3px solid red;
}
.custom-btn {
  background-color: #f2650c;
  color: white;
}

.custom-btn:hover {
  background-color: #d85409;
}
