.comment-container {
  color: black;
  margin: 8px 0;
}

.comment-card {
  padding: 10px;
  margin-bottom: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.comment-header mat-card-title {
  color: black;
}

.comment-header mat-card-subtitle {
  color: #555;
  font-size: 0.875rem;
  text-align: right;
}

.replies {
  margin-left: 16px;
  border-left: 2px solid #ddd;
  padding-left: 8px;
}

.reply-container {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.reply-line {
  width: 2px;
  background: #ddd;
  height: 100%;
  position: absolute;
  left: -8px;
}
