<div *ngIf="isLoading" class="loading">Загрузка...</div>
<div *ngIf="!isLoading && (rootComment || comment)" class="comment-container">
  <div class="comment">
    <mat-card class="comment-card">
      <mat-card-header>
        <div class="comment-header">
          <mat-card-title>{{ (rootComment || comment)?.userName }}</mat-card-title>
          <mat-card-subtitle>{{ (rootComment || comment)?.createdAt }}</mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>{{ (rootComment || comment)?.text }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="addReplyToComment((rootComment || comment)?.id!)">Ответить</button>
      </mat-card-actions>
    </mat-card>
    
    <div *ngIf="(rootComment || comment)?.replies?.length > 0" class="replies">
      <ng-container *ngFor="let reply of (rootComment || comment)?.replies">
        <div class="reply-container">
          <div class="reply-line"></div>
          <app-comment-detail [comment]="reply"></app-comment-detail>
        </div>
      </ng-container>
    </div>
  </div>
</div>
