.text-orange {
  color: #f2650c;
}

.btn-gradient-orange {
  background: linear-gradient(
    90deg,
    rgba(242, 101, 12, 1) 0%,
    rgba(242, 101, 12, 1) 100%
  );
  color: white;
}

.btn-outline-orange {
  border-color: #f2650c;
  color: #f2650c;
}

.btn-outline-orange:hover {
  background-color: #f2650c;
  color: white;
}
