<div class="max-width-350">
  <mat-dialog-content>
    <div class="form-container" [formGroup]="form">
      <h2 class="text-center mb-4">Login</h2>
      <mat-form-field appearance="fill" class="form-group mb-3 w-100">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          type="email"
          placeholder="Email"
          class="form-control"
        />
        <mat-error *ngIf="hasEmailRequiredError">Email is required</mat-error>
        <mat-error *ngIf="hasEmailInvalidError"
          >Enter a valid email address</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-group mb-3 w-100">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="Password"
          class="form-control"
        />
        <mat-error *ngIf="hasPasswordRequiredError"
          >Password is required</mat-error
        >
        <mat-error *ngIf="hasPasswordMinLengthError"
          >Password must be at least 6 characters long</mat-error
        >
      </mat-form-field>
    </div>
  </mat-dialog-content>
</div>
