<h2 mat-dialog-title class="modal-title">Add Comment</h2>

<mat-dialog-content class="modal-body">
  <form [formGroup]="commentForm">
    <div class="mb-3">
      <mat-form-field class="w-100">
        <mat-label>User Name</mat-label>
        <input matInput formControlName="userName" readonly />
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field class="w-100">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" readonly />
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field class="w-100">
        <mat-label>Home Page</mat-label>
        <input matInput formControlName="homePage" />
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field class="w-100">
        <mat-label>CAPTCHA</mat-label>
        <input matInput formControlName="captcha" required />
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field class="w-100">
        <mat-label>Text</mat-label>
        <textarea matInput formControlName="text" required></textarea>
      </mat-form-field>
    </div>

    <div class="mb-3">
      <label class="form-label">
        <input
          type="file"
          (change)="onFileSelected($event)"
          class="form-control"
        />
        <span>📁 Choose File</span>
      </label>
      <div *ngIf="previewImage" class="mt-3">
        <img [src]="previewImage" class="img-fluid" />
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="modal-footer" align="end">
  <button
    mat-stroked-button
    color="warn"
    class="btn btn-outline-secondary custom-btn"
    (click)="onCancel()"
  >
    Cancel
  </button>
  <button
    mat-flat-button
    class="btn btn-primary custom-submit-button"
    [disabled]="!commentForm.valid"
    (click)="onSubmit()"
  >
    Submit
  </button>
</mat-dialog-actions>

<div *ngIf="sanitizedText" [innerHTML]="sanitizedText"></div>
