.btn-outline-orange {
  border-color: #f2650c;
  color: #f2650c;
}

.btn-outline-orange:hover {
  background-color: #f2650c;
  color: white;
}

.btn-orange {
  @extend .text-white;
  @extend .border-0;
  @extend .rounded-pill;
  @extend .px-4;
  @extend .py-2;

  background-color: #f2650c;

  &:hover {
    background-color: #d7590b;
  }

  &:active {
    background-color: #d7590b;
  }
}

.login {
  margin-left: 20px;
}
