.custom-submit-button {
  background-color: #f2650c;
  color: white;
  border: none;
}

.custom-btn {
  background-color: #f2650c;
  color: white;
}

.custom-btn:hover {
  background-color: #d85409;
}

.btn-gradient-orange {
  background: linear-gradient(
    90deg,
    rgba(242, 101, 12, 1) 0%,
    rgba(242, 101, 12, 1) 100%
  );
  color: white;
}

.btn-outline-orange {
  border-color: #f2650c;
  color: #f2650c;
}

.btn-outline-orange:hover {
  background-color: #f2650c;
  color: white;
}

.btn-orange {
  @extend .text-white;
  @extend .border-0;
  @extend .rounded-pill;
  @extend .px-4;
  @extend .py-2;

  background-color: #f2650c;

  &:hover {
    background-color: #5c0a9e;
  }

  &:active {
    background-color: #4e0083;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba(106, 13, 173, 0.5);
  }
}

.login {
  margin-left: 20px;
}
