.description {
  font-size: 18px;
  margin-top: 8%;
  color: black;
}
.subtitle {
  font-size: 32px;
  letter-spacing: 0.32rem;
  color: #ff4500;
  font-family: Panton-Bold;
}
.primary-section img {
  max-height: 300px;
}
.primary-section {
  border-bottom: 1px solid rgb(150, 150, 150);
  border-top: 1px solid rgb(150, 150, 150);
}
