.btn-outline-orange {
  border-color: #f2650c;
  color: #f2650c;
}

.btn-outline-orange:hover {
  background-color: #f2650c;
  color: white;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
