.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  cursor: pointer;
  color: #f2650c;
}

.table-hover tbody tr:hover {
  background: #f9f9f9;
}

.bg-gradient-light {
  background: #f8f9fa;
}

.cursor-pointer {
  cursor: pointer;
}
