<section id="about" class="primary-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="subtitle">About Forum</p>

        <!-- todo ai every title, description, content will be retreived from BE. move them to typescript and add RXJS async plug to be able to retreive them when we needs in the whole project  -->
        <!-- todo ai create custom httpClient  -->
        <p class="description">
          This forum is a modern SPA (Single Page Application), where users can
          interact seamlessly. It allows users to leave comments, which are
          stored in a relational database, including user data that helps
          identify the client.
        </p>

        <p class="description">
          As a SPA, the application provides a smooth and fast user experience,
          with no page reloads. All user interactions are handled dynamically,
          ensuring an efficient and modern way to engage with the platform.
        </p>
      </div>

      <div class="about col-md-6 d-flex justify-content-end">
        <img src="../../../assets/img/about.jpg" alt="About" />
      </div>
    </div>
  </div>
</section>
